<div class="header-container">
  <div class="logo-container d-flex align-items-center">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <img src="/assets/eshield.jpeg" width="30" alt="" />
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <div>eShield</div>
    </a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action">
      <nb-user
        [nbContextMenu]="userContextMenu.items"
        [nbContextMenuTag]="userContextMenu.tag"
        [name]="'thomas.broussard@epita.fr'">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
