<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>Create exam</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="date" class="label col-sm-3 col-form-label">Date</label>
            <div class="col-sm-9">
              <input
                id="date"
                nbInput
                placeholder="Select Date"
                name="date"
                formControlName="date"
                [nbDatepicker]="dateTimePicker" />
              <nb-datepicker #dateTimePicker [min]="min"></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="startTime" class="label col-sm-3 col-form-label"
              >Start time</label
            >
            <div class="col-sm-9">
              <input
                id="startTime"
                nbInput
                type="text"
                name="startTime"
                formControlName="startTime"
                [nbTimepicker]="timepicker" />
              <nb-timepicker #timepicker></nb-timepicker>
            </div>
          </div>

          <div class="form-group row">
            <label for="endTime" class="label col-sm-3 col-form-label"
              >End time</label
            >
            <div class="col-sm-9">
              <input
                id="endTime"
                nbInput
                type="text"
                name="endTime"
                formControlName="endTime"
                [nbTimepicker]="timepicker" />
              <nb-timepicker #timepicker></nb-timepicker>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Sign in</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
