<nb-layout>
  <nb-layout-column>
    <div class="d-flex justify-content-center align-items-center h-100">
      <nb-card size="medium">
        <nb-card-header>
          <h1 class="title">Login</h1>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="d-flex flex-column">
              <label class="label">Username</label>
              <input formControlName="username" nbInput autofocus />
            </div>

            <div class="d-flex flex-column">
              <label class="label">Password</label>
              <input formControlName="password" nbInput type="password" />
            </div>

            <button type="submit" nbButton size="large" status="primary">
              Login
            </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>
</nb-layout>
