<div>
  <nb-card size="medium">
    <nb-card-header class="d-flex justify-content-between">
      <span>Student Activity</span>
      <!--      <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">-->
      <!--        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>-->
      <!--      </nb-select>-->
      <div>Course: <span>adv-java</span></div>
    </nb-card-header>

    <nb-list class="student-activity-list">
      <nb-list-item *ngFor="let item of userActivity">
        <div class="student-activity-student">
          <nb-user [name]="item.email"></nb-user>
        </div>

        <div class="student-activity-status">
          <div>{{ item.status }}</div>
          <div>
            <nb-icon
              [icon]="
                item.status === 'online' ? 'checkmark-circle-2' : 'close-circle'
              "
              [status]="item.status === 'online' ? 'success' : 'danger'"
              pack="eva"></nb-icon>
          </div>
        </div>
      </nb-list-item>
    </nb-list>

       <button nbButton (click)="test()">Hello</button>
  </nb-card>
</div>
