<div class="row">
  <div class="col-lg-6">sfdfs</div>
  <div class="col-lg-6">sfdfs</div>
  <button class="btn-dark">test</button>
</div>

<div>
  <nb-card size="medium">
    <nb-card-header>
      <span>Courses</span>
      <!--      <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">-->
      <!--        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>-->
      <!--      </nb-select>-->
    </nb-card-header>

    <nb-list class="course-list">
      <nb-list-item *ngFor="let item of [1, 2, 3, 4]">
        <div class="course-name">course-name</div>

        <div class="student-activity-status">
          <div>online</div>
          <div>
            <nb-icon
              [icon]="item ? 'checkmark-circle-2' : 'checkmark-circle-2'"
              pack="eva"></nb-icon>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
