<div class="row">
  <div class="col-3">
    <nb-card>
      <nb-card-header>
        <span>Courses</span>
        <!--      <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">-->
        <!--        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>-->
        <!--      </nb-select>-->
      </nb-card-header>

      <nb-list class="course-list">
        <nb-list-item
          class="d-flex justify-content-between"
          *ngFor="let item of ['adv-java', 'adv-c']">
          <div class="course-name">{{ item }}</div>
          <div>
            <button
              nbButton
              size="small"
              status="primary"
              (click)="onViewExam()">
              View Exams
            </button>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-9">
    <nb-card>
      <nb-card-header class="d-flex justify-content-between align-items-center">
        <div>Exams: adv-java</div>
        <!--      <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">-->
        <!--        <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>-->
        <!--      </nb-select>-->
        <button nbButton size="small" status="success" (click)="onCreateExam()">
          Create Exam
        </button>
      </nb-card-header>

      <nb-list>
        <nb-list-item
          class="d-flex justify-content-between"
          *ngFor="let item of [1]">
          <div class="course-name">id:<strong>1</strong></div>
          <div>
            Exam Date: <span><strong> 12-08-2023</strong></span>
          </div>
          <div>
            Start Time: <span><strong>09:00h</strong></span>
          </div>
          <div>
            End Time: <span><strong>13:00h</strong></span>
          </div>
          <div>
            <button
              class="m-xl-2"
              nbButton
              size="small"
              status="primary"
              (click)="onEditExam()">
              Edit
            </button>
            <button nbButton size="small" status="danger">Delete</button>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>
